
/* ESERCIZIO N. 1 */
.ex-1-square{
    transition: background-color 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* ESERCIZIO N. 2 */

.ex-2-square{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO N. 3 */

.ex-3-square{
    transition-property: border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.ex-3-square:hover{
    border-radius: 50px;
}

/* ESERCIZIO N. 4 */

.ex-4-square{
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.ex-4-square:hover{
    opacity: 0;
}

/* ESERCIZIO N. 5 */

.ex-5-square{
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
}

.ex-5-square:hover{
    transform: scale(1.5, 1.5);
}

.ex-5-square:active{
    transform: scale(.5, .5);
}

/* ESERCIZIO N. 6 */

.ex-6-img{
    transition-property: filter;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

/* ESERCIZIO N. 7 */

.ex-7-img{
    transition-property: filter;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: .3;
}

.ex-7-img:hover{
    filter: sepia(70%);
}

/* ESERCIZIO N. 8 */

.ex-8-img{
    transition-property: filter, border-radius;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: .3;
}

.ex-8-img:hover{
    filter: sepia(70%)
            contrast(1.75);
    border-radius: 20px;
    
}

/* ESERCIZIO N. 9 */

.ex-9-img{
    transition-property: filter, border-radius, transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: .3;
}

.ex-9-img:hover{
    filter: sepia(70%)
            contrast(1.75);
    border-radius: 20px;
    transform: scale(1.5, 1.5);
}

/* ESERCIZIO N. 10 */

@keyframes ex-10-icon{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ex-10-icon{
    animation-name: ex-10-icon;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-timing-function:linear;
    animation-fill-mode:backwards;
    
}

/* ESERCIZIO N. 11 */

.ex-11-icon{
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: initial;
    transition-delay: 0;
}

.ex-11-icon:hover{
    transform: rotate(315deg)
}
